<h1>Welcome to CSE Motors!</h1>
  <div class="car-picture">
    <div class="eyecatch">
      <h2>DMC Delorean</h2>
      <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
      <img src="../images/site/own_today.png" alt="Own Today" width="100">
    </div>
  </div>
  <div class="content">
    <div class="reviews">
      <h2>DMC Delorean Reviews</h2>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </div>
    <div>
      <div class="upgrades-container">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
          <div class="upgrade">
            <div class="blue-bg">
              <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </div>
            <p><a href="#">Flux Capacitor</a></p>
          </div>
          <div class="upgrade">
            <div class="blue-bg">
              <img src="../images/upgrades/flame.jpg" alt="Flame Decals">
            </div>
            <p><a href="#">Flame Decals</a></p>
          </div>
          <div class="upgrade">
            <div class="blue-bg">
              <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            </div>
            <p><a href="#">Bumper Stickers</a></p>
          </div>
          <div class="upgrade">
            <div class="blue-bg">
              <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </div>
            <p><a href="#">Hub Caps</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>